.reset-wrapper {
  display: flex;
  justify-content: center;
  margin: auto;
}

.resetBtn {
  background-color: #0f4c81;
  color: #ffffff;
  padding: 5px 20px;
  border-radius: 12px;
  border: 1px solid #faed3d;
}
